.past-event {
    pointer-events: none;
}

.attending-user {
    background-color: #28a745;  /* Zöld háttér */
    color: white;
}

@media (max-width: 768px) {
  .fc .fc-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .fc .fc-toolbar-chunk {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .fc .fc-button {
    padding: 4px 8px;
    font-size: 0.8rem;
  }

  .fc .fc-toolbar-title {
    font-size: 1rem;
  }
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.attendance-table th, .attendance-table td {
  padding: 10px;
  text-align: left;
}

.attendance-table .user-column {
  width: 70%; /* Felhasználó oszlop szélessége */
  background-color: #f9f9f9; /* Világos háttérszín */
}

.attendance-table .checkin-column {
  width: 30%; /* Megjelent oszlop szélessége */
  text-align: center;
  background-color: #e7e7ee; /* Különböző háttérszín */
}

.attendance-table td {
  border: 1px solid #ddd;
}

.attendance-table th {
  background-color: #4CAF50; /* Zöld háttér a fejlécnek */
  color: black;
}

.statistics-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.statistics-table th, .statistics-table td {
  padding: 12px 15px;
  text-align: left;
}

.statistics-table th {
  background-color: #4CAF50; /* Zöld háttér a fejlécnek */
  color: white;
  font-weight: bold;
}

.statistics-table td {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.statistics-table tr:nth-child(even) td {
  background-color: #f1f1f1; /* Szürke háttér a páros soroknak */
}

.statistics-table tr:hover td {
  background-color: #ddd; /* Hover színváltoztatás */
}

.statistics-table td {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: normal;
}

.filters-form {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.filters-form label {
    font-size: 1.1rem;
    font-weight: bold;
}

.filters-form select,
.filters-form input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filters-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters-form button:hover {
    background-color: #45a049;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.events-table th, .events-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.events-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.events-table td {
    background-color: #f9f9f9;
}

.events-table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

.events-table tr:hover td {
    background-color: #ddd;
}

.events-table td {
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: normal;
}
