.past-event {
    pointer-events: none;
}

.attending-user {
    background-color: #28a745;  /* Zöld háttér */
    color: white;
}

@media (max-width: 768px) {
  .fc .fc-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .fc .fc-toolbar-chunk {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .fc .fc-button {
    padding: 4px 8px;
    font-size: 0.8rem;
  }

  .fc .fc-toolbar-title {
    font-size: 1rem;
  }
}