{% extends "base.html" %}
{% load static %}

{% block title %}Naptár{% endblock %}

{% block calendar_css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1 class="mb-4">Naptár</h1>
<span>Üdv, {{ user_display_name }}!</span>
<div id="calendar"></div>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Jelentkezés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Biztosan szeretnél jelentkezni vagy lemondani?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-success" id="signupButton">Jelentkezem</button>
        <button type="button" class="btn btn-danger" id="cancelButton">Lemondom</button>
        {% if perms.calendarapp.delete_event %}
                {% csrf_token %}
                <a href="#" id="deleteEventLink" class="btn btn-danger">Óra törlése</button></a>
        {% endif %}
        {% if perms.calendarapp.change_event %}
            <a href="#" id="editEventLink" class="btn btn-warning">Óra szerkesztése</a>
            <a href="#" id="checkinEventLink" class="btn btn-warning">Check-in</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS + Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>


<script>
    var user = {
    username: "{{ user_display_name }}"
};
    // Helper függvény a CSRF token lekéréséhez
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var defaultView = window.innerWidth < 768 ? 'listWeek' : 'timeGridWeek';

        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'hu',
            timeZone: 'local',
            initialView: defaultView,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            views: {
            timeGridWeek: {
                allDaySlot: false
                },
            timeGridDay: {
                allDaySlot: false
                }
            },
            height: 'auto',
            events: {
                url: '/calendar/events/',
                method: 'GET',
                failure: function() {
                    alert('Hiba történt az események betöltése közben!');
                }
            },
            eventDataTransform: function(eventData) {
                var event = {
                    id: eventData.id,
                    title: eventData.title,
                    start: eventData.start,
                    end: eventData.end,
                    description: eventData.description,
                    className: eventData.user_is_attending ? 'attending-user' : '',  // Zöld háttér CSS osztály
                };
                return event;
            },
            eventDidMount: function(info) {
                var eventEnd = info.event.end ? info.event.end : info.event.start;
                var now = new Date();
                if (eventEnd < now) {
                    info.el.style.opacity = '0.5';
                    info.el.classList.add('past-event');
                }
            },
            editable: false,
            droppable: false,
            slotMinTime: '08:00:00',
            slotMaxTime: '22:00:00',
            firstDay: 1,
            eventClick: function(info) {
                info.jsEvent.preventDefault();
                var eventId = info.event.id;
                var eventTitle = info.event.title;
                $('#signupModalLabel').text(eventTitle);
                $('#signupButton').data('event-id', eventId);
                $('#cancelButton').data('event-id', eventId);

                var eventEnd = info.event.end ? info.event.end : info.event.start;
                var now = new Date();
                if (eventEnd < now) {
                    $('#signupButton').prop('disabled', true);
                    $('#cancelButton').prop('disabled', true);
                } else {
                    $('#signupButton').prop('disabled', false);
                    $('#cancelButton').prop('disabled', false);
                }
                // Szerkesztés link beállítása
                var editUrl = '/calendar/edit/' + eventId + '/';
                $('#editEventLink').attr('href', editUrl);
                // checkin link beállítása
                var checkinUrl = '/calendar/checkin/' + eventId + '/';
                $('#checkinEventLink').attr('href', checkinUrl);
                //törlés
                var deleteUrl = '/calendar/delete_event/' + eventId + '/';
                $('#deleteEventLink').attr('href', deleteUrl);

                $.ajax({
                    url: '/calendar/events/' + eventId + '/',
                    method: 'GET',
                    success: function(response) {
                        var attendeesList = response.attendees;
                        var attendeesHtml = '<ul>';
                        attendeesList.forEach(function(attendee) {
                            attendeesHtml += '<li>' + attendee + '</li>';
                        });
                        attendeesHtml += '</ul>';
                        $('#signupModal .modal-body').html('Jelentkezettek: ' + attendeesHtml);
			// Jelentkezés/Lemondás gombok engedélyezése/letiltása
						if (response.is_signup_open) {
							$('#signupButton').prop('disabled', false);
						} else {
							$('#signupButton').prop('disabled', true).text('Jelentkezés');
						}

						if (response.is_cancel_allowed) {
							$('#signupButton').prop('disabled', false);
							$('#cancelButton').prop('disabled', false);
						} else {
							$('#cancelButton').prop('disabled', true).text('Lemondás');
						}
                    },
                    error: function(xhr) {
                        alert('Hiba történt a jelentkezettek betöltésekor: ' + xhr.responseText);
                    }
                });

                $('#signupModal').modal('show');
            }
        });
        calendar.render();

        // Jelentkezés gomb
        $('#signupButton').on('click', function() {
            var eventId = $(this).data('eventId');  // Az event_id lekérése

            $.ajax({
                url: '/calendar/signup/',
                method: 'POST',
                data: {
                    'event_id': eventId  // Az event_id átadása a POST kérésben
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function(response) {
                    alert('Sikeres jelentkezés!');
                    $('#signupModal').modal('hide');
                },
                error: function(xhr) {
                    alert('Hiba történt a jelentkezés során: ' + xhr.responseText);
                }
            });
        });

        // Lemondás gomb
        $('#cancelButton').on('click', function() {
            var eventId = $(this).data('eventId');
            $.ajax({
                url: '/calendar/cancel_signup/',
                method: 'POST',
                data: {
                    'event_id': eventId
                },
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')  // Itt kerül be a CSRF token
                },
                success: function(response) {
                    alert('Sikeres lemondás!');
                    $('#signupModal').modal('hide');
                },
                error: function(xhr) {
                    alert('Hiba történt a lemondás során: ' + xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock %}