
{% block content %}
  <h2>Óra szerkesztése: {{ event.title }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Mentés</button>
  </form>
  <form method="POST" action="{% url 'calendarapp:delete_event' event.id %}" onsubmit="return confirm('Biztosan törölni szeretnéd ezt az eseményt?');">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger mt-3">Esemény törlése</button>
  </form>

  <a href="{% url 'calendarapp:calendar_view' %}">Vissza a naptárhoz</a>
{% endblock %}
