{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <h1>Felhasználók jelentkezései és jelenléte</h1>
    <table class="common-table">
        <thead>
            <tr>
                <th>Felhasználó</th>
                <th>Jelentkezett</th>
                <th>Megjelent</th>
            </tr>
        </thead>
        <tbody>
            {% for adat in statisztika %}
                <tr {% if adat.jelentkezesek_szama != adat.checkinek_szama %}class="highlight-row"{% endif %}>
                    <td>{{ adat|display_name }}</td>
                    <td>{{ adat.jelentkezesek_szama }}</td>
                    <td>{{ adat.checkinek_szama }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{% url 'calendarapp:calendar_view' %}" class="btn btn-link">Vissza a naptárhoz</a>
{% endblock %}