{% extends 'base.html' %}

{% block content %}
    <h1>Felhasználók jelentkezései és jelenléte</h1>
    <table class="statistics-table">
        <thead>
            <tr>
                <th>Felhasználó</th>
                <th>Jelentkezések száma</th>
                <th>Check-in-ek száma</th>
            </tr>
        </thead>
        <tbody>
            {% for adat in statisztika %}
                <tr>
                    <td>{{ adat.user__username }}</td>
                    <td>{{ adat.jelentkezesek_szama }}</td>
                    <td>{{ adat.checkinek_szama }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{% url 'calendarapp:calendar_view' %}" class="btn btn-link">Vissza a naptárhoz</a>
{% endblock %}