{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<h2>Felhasználók részvételi statisztikája - {{ selected_year }}. {{ selected_month }}</h2>

<form method="get" class="filters-form">
    <label for="month">Hónap:</label>
    <select name="month" id="month">
        {% for month in "123456789101112" %}
        <option value="{{ month }}" {% if selected_month == month|add:0 %}selected{% endif %}>{{ month }}</option>
        {% endfor %}
    </select>

    <label for="year">Év:</label>
    <input type="number" name="year" id="year" value="{{ selected_year }}" min="2000" max="2100">

    <button type="submit" class="btn-submit">Lekérdezés</button>
</form>

<table class="attendance-table">
    <thead>
        <tr>
            <th>Felhasználó</th>
            <th>Órák</th>
            <th>Jelentkezések száma</th>
            <th>Részvételek száma</th>
        </tr>
    </thead>
    <tbody>
        {% for user, data in user_attendance.items %}
        <tr>
            <td>{{ user|display_name }}</td>
            <td>
                <button class="show-events-btn" data-user-id="{{ user.id }}">Mutasd az órákat</button>
                <ul class="events-list" id="events-{{ user.id }}" style="display:none;">
                    {% for event in data.events %}
                    <li>{{ event.title }} - {{ event.start_time }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ data.total_count }}</td>
            <td>{{ data.checked_in_count }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nincs részvételi adat ebben a hónapban.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'calendarapp:calendar_view' %}" class="btn btn-link">Vissza a naptárhoz</a>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const buttons = document.querySelectorAll('.show-events-btn');

        buttons.forEach(button => {
            button.addEventListener('click', function() {
                const userId = this.getAttribute('data-user-id');
                const eventsList = document.getElementById(`events-${userId}`);

                if (eventsList.style.display === "none") {
                    eventsList.style.display = "block";
                } else {
                    eventsList.style.display = "none";
                }
            });
        });
    });
</script>

{% endblock %}
